
.bg_image {
  background: 
    url(../../../public//a13dcaee-a20a-4b77-88cd-12fa5f56880d.JPG) no-repeat;
  min-height: calc(100vh - 88px);
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend {
  background: rgba(18, 18, 18, 0.85);
  border-radius: 3rem;
}

.box::after, .box::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #000000;
  flex: 1 0 20px;
}